.table {
  background-color: #3b3f40;
  color: #FFFFFF;
  
  font-size: 20px;
  text-align: left;

  margin-top: 20px;
  margin-left: 20px;
}

.headerRow {
  color: #a8a8a8;
  font-weight: bold;
}

.headerCell {
  border: solid 2px #00730d;
}

.cell {
  border: solid 2px #00730d;
  padding: 10px;
}
